/* !Main */
#hero {
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-container {
    margin: 2rem 2rem;
    padding: 2rem;
    width: 60%;
    height: 60%;
    transition: all 0.3s ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.hero-container h1 {
    overflow: hidden;
    font-size: 5.2rem;
}
/* !About Section */
#about {
    padding: 2rem 1rem;
}
.about-container {
    padding: 2rem 0rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.about-container h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
}
/* !media query */
@media (max-width: 48rem) {
    .hero-container h1{
        font-size: 3rem;
    }
    .about-container h2 {
    font-size: 1.5rem;

    }
}